.temperature {
  background: url('./temperature.png') no-repeat;
  background-position: right;
  position: relative;
}
.tips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tips > div {
  margin-top: 20px; 
}
.arrow {
  position: absolute;
}