.normal {
  position: relative;
  width: 498px;
  height: 252px;
}
.dry {
  position: absolute;
  left: 0;
  bottom: 0;
}
.comfort {
  position: absolute;
  top: 0;
  left: 43%;
}
.wet {
  position: absolute;
  right: 0;
  bottom: 0;
}
.humidity {
  position: absolute;
  margin: 30px 30px 0 30px;
  width: 428px;
  height: 252px;
  background: url('./humidity.png') no-repeat;
}