.normal {
  position: relative;
}
.dry {
  position: absolute;
  left: 0;
  bottom: 28px;
}
.comfort {
  position: absolute;
  top: 0;
  left: 60%;
}
.wet {
  position: absolute;
  right: 0;
  bottom: 28px;
}
.humidity {
  position: absolute;
  margin: 30px 28px 0 25px;
  background: url('./humidity.png') no-repeat;
}
.arrow {
  position: absolute;
}
.center {
  position: absolute;
}